.component {
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
    width: 50vw;
    border-radius: 10px;
}

label {
    padding: 15px;
}

.general-info {
    background-color: #2f4454;
}

.education-info {
    background-color: #376e6f;
}

.experience-info {
    background-color: #1c3334;
}

input {
    max-width: 500px;
}

textarea {
    resize: none;
    width: 500px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience-info form {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.btn-submit {
    margin: 15px;
}